@import "../../styles/function.scss";
.image {
  max-width: rem(324px);
}
.card {
  background-color: var(--white);
  padding: rem(30px);
  border: 1px solid var(--white);
}
.desc {
  font-size: rem(14px);
  line-height: rem(19px);
}
.max-w-526 {
  max-width: rem(526px);
}
.gradient-circle {
  width: rem(460px);
  height: rem(460px);
  overflow: hidden;
  filter: blur(25px);
  will-change: transform;
  position: absolute;
  left: 50%;
  top: 0;
  margin: rem(-180px) 0 0 rem(-100px);
  background-image: url("../home/banner/images/gradient-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
